.asi {
    margin: auto;
    --height: 5rem;
    --width: calc(var(--height) * 0.645);
    --color: lightgray;
    --color-dark: rgb(170, 170, 170);
    --anim: .5s;
    width: calc(var(--width) * 4.2);
    height: calc(var(--height) * 3);
    display: grid;
    column-gap: 5px;
    row-gap: 4px;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;

}

.shader {
    border-radius: 50%;
    width: calc(var(--height) * 3);
    height: calc(var(--height) * 3);
    /* background-color: red; */
    background-color: rgba(211, 211, 211, .5);
    position: absolute;
    opacity: 0;
    z-index: -1;
}

.hex {
    position: relative;
    background-color: var(--color);
    border-radius: calc(var(--height) / 10);
    width: var(--width);
    height: var(--height);
    top: calc(var(--height)/2);

    margin-left: auto;
    margin-right: auto;

    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: flex-start;

    transition: transform 400ms ease;
}

.dex,
.prof,
.wis {
    grid-column: 2;
    top: auto;
    bottom: 0;
}

.prof {
    grid-row: 2;
}

.hex::before,
.hex::after {
    content: "";
    display: block;
    position: absolute;
    width: inherit;
    height: inherit;
    background-color: inherit;
    border-radius: inherit;
    top: 0;
    z-index: -1;
}

.hex::before {
    transform: rotate(60deg);
}

.hex::after {
    transform: rotate(-60deg);
}

.hex:hover {
    --color: var(--color-dark);
    transform: scale(1.05);
    z-index: 3;
}

.hex:hover~.shader {
    z-index: 2;
    opacity: 1;
}

.name {
    width: var(--width);
    height: 1em;
    margin: 0;
    text-align: center;
    order: 1;
    flex-grow: 1;
}

.name>* {
    width: inherit;
    position: absolute;
    /* right: calc(var(--width)); */
    margin: 0 auto;
    transition: font-size 1s ease-out 2s, right 1s ease-in-out 1s, opacity 1s;

}

.abbrev {
    opacity: 1;
}

.full {
    font-size: smaller;
    opacity: 0;
}

.hex:hover .name>* {
    transition: font-size 1s ease-in, right 1s ease-in-out 1s, opacity 1s linear 2s;

}

.hex:hover .abbrev {
    font-size: smaller;
    /* content: "Strength"; */
    /* right: 75%; */
    opacity: 0;
}

.hex:hover .full {
    opacity: 1;
}

.score {
    margin: 0;
    padding: 2;
    border: 0;
    width: 1.5rem;
    border-color: transparent;
    background-color: transparent;
    text-align: center;

    order: 0;
    flex-grow: 1;
    font-size: large;
}

.modifier {
    text-align: center;
    font-size: large;
    padding: 2;

    flex-grow: 1;
    order: 2;


    display: flex;
    align-items: center;

}