#ASI {
    --size: 20rem;
    --half-size: calc(var(--size)/2);
    --transition-time: 1s;

    position: relative;
    top: 5rem;
    margin: auto;
    padding: 0;
    width: var(--size);
    height: var(--size);
    border-radius: 50%;

    list-style: none;

    text-align: center;
    overflow: hidden;
    background: lightgrey;
    color: black;
}

#ASI ul {
    width: inherit;
    height: inherit;
    border-radius: 50%;
    position: absolute;
    padding: 0;
    margin: 0;

    list-style: none;
}

.slice {
    --flip: 1;
    --skew: -30deg;
    --rotate: -30deg;
    --outside: right;

    overflow: hidden;
    position: absolute;
    top: 0;
    right: 0;
    width: 50%;
    height: 50%;
    transform-origin: bottom left;

    background-color: teal;
    transform: scaleX(var(--flip)) rotate(var(--rotate)) skew(var(--skew));
}

.rotate {
    position: absolute;
    width: var(--half-size);
    height: var(--half-size);
    top: 0;
    right: 0;
    transform-origin: bottom left;

    background-color: teal;
}

.abilityScore {
    position: absolute;
    height: var(--half-size);
    width: var(--half-size);
    top: 0;
    right: 0;

    border-radius: 0 var(--half-size) 0 0;

    transform-origin: bottom left;
    transform: skew(calc(var(--skew) * -1));
}

.abilityScore>* {
    position: absolute;
    margin: 0;
    bottom: 5px;
    --flip-dir: calc(var(--flip) * -1);
    transform: scaleX(var(--flip)) rotate(calc(var(--rotate) * var(--flip-dir)));
}

.left {
    --flip: -1;
    --outside: left;
}


#STR,
#INT {
    --rotate: -30deg;
}

#DEX,
#WIS {
    --rotate: 30deg;
}

#CON,
#CHA {
    --rotate: 90deg;
}


.name {
    bottom: 0rem;
    left: 3.5rem;
    --rotate: 0deg;
}

.fullname {
    right: 1em;
    width: inherit;
    --rotate: 0deg;
    opacity: 0;
    text-align: var(--outside);
    transition: opacity var(--transition-time);
}

.mod {
    left: .6rem;
    bottom: .5rem;
    width: 2em;
}

.score {
    left: 2.5rem;
    bottom: 3rem;
    width: 3rem;
    border: 0;
    background-color: #0000;
    text-align: center;
    font-size: xx-large;
    transition: transform var(--transition-time)
}

.abilityScore:hover .fullname {
    opacity: 1;
}

.abilityScore:hover .name {
    opacity: 0;
}

.abilityScore:hover .score {
    --rotate: 90deg;
}

.lines {
    width: 3px;
    height: var(--size);
    background: darkgray;
    position: absolute;
    display: block;
    left: var(--half-size);
}

.lines:nth-of-type(2) {
    rotate: -60deg;
}

.lines:nth-of-type(3) {
    rotate: 60deg;
}


input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type=number] {
    -moz-appearance: textfield;
}

input:focus {
    outline: none;
}